#left{
  border-right: 1px solid black;
  height: 30em;
}

@media (max-width: 48em) {
  #left {
    border-right: none;
    margin-top: -3.5em;
  }
  #right {
    border-left: none;
    margin-top: -2em;
  }

  .dropzone{
    height: 5em;
  }
}


button:hover{
  cursor: pointer;
}

.drop{
  overflow-y: auto;
  max-height: 5em;
}

body{
  backgroud-color: #FFFFFF;
}
