<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cluster Visualization</title>
     <link rel="icon" href="../static/images/icon.png">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/scrolling-nav.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/dropzone/dropzone.css')}}">

  </head>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='vendor/popper/popper.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

  <!-- Plugin JavaScript -->
  <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom JavaScript for this theme -->
  <script type="text/javascript" src="{{url_for('static', filename='js/scrolling-nav.js')}}"></script>

  <script src="{{url_for('static', filename='vendor/dropzone/dropzone.js')}}"></script>
  <!-- <script src="{{url_for('static', filename='vendor/dropzone/dropzone.min.js')}}"></script> -->

  <style>
  /*mudanca do css do layout de cada arquivo dentro do dropzone*/
  .dropzone .dz-preview .dz-image {
       border-radius: 20px;
       overflow: hidden;
       width: 25em;
       height: 5.5em;
       padding: 0.2em;
       position: relative;
       display: block;
       z-index: 10;
  }

  .dropzone .dz-preview.dz-file-preview .dz-image {
        border-radius: 10px;
        background: #000;
        background: linear-gradient(to bottom, #eee, #eee);
  }

  .dropzone .dz-preview .dz-details .dz-filename:hover span {
     border: 1px solid transparent;
     background-color: linear-gradient(to bottom, #eee, #eee);
   }

  .dropzone .dz-preview {
     position: relative;
     display: inline-block;
     vertical-align: top;
     margin: 0.2em;
     min-height: 100px;
  }
  </style>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Cluster Visualization</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">How to Use</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="bg-primary text-white" id="uploads">
      <div class="container text-center">
        <div class="row row-divided" align="center" style="margin-top: -7em;">
          <div class="col-lg-6 col-md-6 col-sm-12 mx-auto" id="left">
            <h1><b>Data Set</b></h1>
            <!-- upload vai aqui -->
            <form action="#" class="dropzone dz-clickable" id="dropdataset" method="POST" enctype="multipart/form-data">
              <input type="hidden" name="name" value="dataset" />
              <div class="dz-message" data-dz-message style="color:grey;"><span><b>Drop files</b> or <b>click here</b> to upload</span><p style="font-size:80%;">The files must have a text format</p></div>
            </form>
              <div class="row" style="margin-top:1em;">
                <div class="col-1"></div>
                 <div class="col-5">
                   <label for="selAlgorithm">Apply algorithm:</label><br>
                   <select class="form-control" id="selAlgorithm">
                     <option value="1">All</option>
                     <option value="2">Single Link</option>
                     <option value="3">Average Link</option>
                     <option value="4">Centroid Link</option>
                     <option value="5">Complete Link</option>
                     <option value="6">SNN</option>
                     <option value="7">KMeans</option>
                   </select>
                 </div>
                 <div class="col-5">
                   <label for="selMetric">Choose Metrics:</label><br>
                   <select class="form-control" id="selMetric">
                     <option value="E">Euclidean Distance</option>
                     <option value="P">Pearson Correlation</option>
                   </select>
                 </div>
              </div>
              <div id="radiodataset" style="margin-top: 1em;">
                <label class="radio"><input type="radio" name="optDataSet" value="allDataSet"> All Clusters</label>
                <label class="radio"><input type="radio" name="optDataSet" value="distDataSet"> Distinct Clusters</label>
              </div>
              <p align="center">Clusters size interval:</p>
              <div class="row" style="margin-top: 1em;" align="center">
                <div class="col-1"></div>
                <label for="minPartition" class="col-2 col-form-label">Minimum:</label>
                <div class="col-3">
                  <input class="form-control" type="number" min="0" value="" id="minSize">
                </div>
                <label for="maxPartition" class="col-2 col-form-label">Maximum:</label>
                <div class="col-3">
                  <input class="form-control" type="number" min="0" value="" id="maxSize">
                </div>
                <div class="col-1"></div>
              </div>
                <button type="submit" class="btn btn-secondary" style="margin-top: 1em;" id="senddataset">View Results</button>
            </div>

          <div class="col-lg-6 col-md-6 col-sm-12 mx-auto" id="right">
            <h1><b>Partitions</b></h1>
            <form action="#" class="dropzone dz-clickable"  id="droppartition" method="POST" enctype="multipart/form-data">
              <input type="hidden" name="name" value="partition" />
              <div class="dz-message" data-dz-message style="color:grey;"><span><b>Drop files</b> or <b>click here</b> to upload</span><p style="font-size:80%;">The files must have a text format</p></div>
            </form>
            <div class="container">
              <div id="radiopartition" style="margin-top: 3em;">
                <label class="radio"><input type="radio" name="optPartitions" value="allPartitions"> All Clusters</label>
                <label class="radio"><input type="radio" name="optPartitions" value="distPartitions"> Distinct Clusters</label>
              </div>
              <p align="center">Clusters size interval:</p>
              <div class="row" align="center">
                <div class="col-1"></div>
                <label for="minPartition" class="col-2 col-form-label">Minimum:</label>
                <div class="col-3">
                  <input class="form-control" type="number" min="0" value="" id="minPartition">
                </div>
                <label for="maxPartition" class="col-2 col-form-label">Maximum:</label>
                <div class="col-3">
                  <input class="form-control" type="number" min="0" value="" id="maxPartition">
                </div>
                <div class="col-1"></div>
              </div>
                <button type="submit" class="btn btn-secondary" style="margin-top:4.5em;" id="sendpartition">View Results</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="container">
        <div class="row">          <div class="col-lg-8 mx-auto">
            <h2>About</h2>
            <p class="lead">The tool</p>
            <p style="text-align: justify;">Ensemble methods for clustering take a collection
                of input partitions, produced for the same data set, and generate
                an ensemble partition that tries to preserve the information
                carried in this collective. Acceptance of the resulting partition(s)
                by decision makers can be a problem, due to the inherent
                complexity of ensemble techniques, and the associated lack of
                intuition on how a consensus has been derived from the original
                set of input partitions. This problem is exacerbated in multi-
                objective ensemble techniques, which generate a set of non-
                dominated consensus partitions. In this context, the selection of
                a final candidate clustering may require additional insight into
                the relationships between non-dominated output partitions.
                CVis has been developed as a general
                tool to provide insight into the relationship between any set
                of partitions of a given data set. In particular,
                the tool facilitates the visual analysis of the level of support
                identified for individual consensus clusters, which is helpful in
                explaining final solutions to a decision maker.</p>
            <p class="lead">Citing CVis</p>
            <p>If you publish material using CVis, please cite the following
            reference:</p>
            <p>Faceli, K., Sakata, T., and Handl, J. (2016). CVis - towards a
            novel visualization tool to explore the relationship between input
            and output partitions in multi-objective clustering ensembles.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>How To Use It</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact</h2>
            <p class="lead"><a href="http://lattes.cnpq.br/4451540730749377">Katti Faceli</a> (katti <i>at </i>ufscar <i>dot</i> br)</p>
            <p class="lead"><a href="http://lattes.cnpq.br/3560505262283874">Tiemi C. Sakata</a> (tiemi <i>at</i> ufscar <i>dot</i> br)</p>
            <p class="lead"><a href="http://personalpages.manchester.ac.uk/mbs/julia.handl/">Julia Handl</a> (Julia <i>dot</i> Handl <i>at</i> manchester <i>dot</i> ac <i>dot</i> uk)</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">The opinions, hypothesis,
        conclusions or recommendations contained in this material are the responsibility of the author(s) and do not necessarily reflect FAPESP's vision. (As opiniões, hipóteses e conclusões ou recomendações expressas neste material são de responsabilidade do autor(es) e não
        necessariamente refletem a visão da FAPESP)</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Modal de aviso -->
    <div id="aviso_modal" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Required</h4>
          </div>
          <div class="modal-body" style="background-color:tomato;">
            <p id="erro1"></p>
            <p id="erro2"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="cleanErrors" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    <script>

      $(document).ready(function(){
        $(input).val("");
      });

      Dropzone.autoDiscover = false;

        var myDropzone1 = new Dropzone(document.getElementById("dropdataset"), {
          acceptedFiles: 'text/*, .clu',
          addRemoveLinks: true,
          thumbnailWidth: 500,
          autoProcessQueue: false,

          init: function() {
            this.on("sending", function(file, xhr, formData){
                formData.append("selAlgorithm", $("#selAlgorithm").val());
                formData.append("selMetric", $("#selMetric").val());
                formData.append("allordist", $("#radiodataset input:checked").val());
                formData.append("minSize", $("#minSize").val());
                formData.append("maxSize", $("#maxSize").val());
            });
          }
        });


        $('#senddataset').click(function(){
          // verifica se o valor maximo é maior que valor minimo e se os radio buttons estão pressionados
            if($("#maxSize").val() != "" && $("#maxSize").val() < $("#minSize").val() || $("#radiodataset input:checked").length == 0){
              if($("#maxSize").val() != "" && $("#maxSize").val() < $("#minSize").val()){
                $("#aviso_modal #erro1").html("Maximum size must be higher than minimum size!");
              }
              if($("#radiodataset input:checked").length == 0){
                $("#aviso_modal #erro2").html("Choose the visualization between all clusters or distinct clusters, please.");
              }
              $("#aviso_modal").modal("show");
            }
            else{
              myDropzone1.processQueue();
            }
        });

        var myDropzone2 = new Dropzone(document.getElementById("droppartition"), {
          acceptedFiles: 'text/*, .clu, .tsv',
          addRemoveLinks: true,
          thumbnailWidth: 500,
          autoProcessQueue: false,

          init: function() {
            this.on("sending", function(file, xhr, formData){
                formData.append("allordist", $("#radiopartition input:checked").val());
                formData.append("minSize", $("#minPartition").val());
                formData.append("maxSize", $("#maxPartition").val());
            });
          }
        });

        $('#sendpartition').click(function(){
          // verifica se o valor maximo é maior que valor minimo e se os radio buttons estão pressionados
          if($("#maxPartition").val() != "" && $("#maxPartition").val() < $("#minPartition").val() || $("#radiopartition input:checked").length == 0){
            if($("#maxPartition").val() != "" && $("#maxPartition").val() < $("#minPartition").val()){
              $("#aviso_modal #erro1").html("Maximum size must be higher than minimum size!");
            }
            if($("#radiopartition input:checked").length == 0){
              $("#aviso_modal #erro2").html("Choose the visualization between all clusters or distinct clusters, please.");
            }
            $("#aviso_modal").modal("show");
          }
          else{
            myDropzone2.processQueue();
          }
        });

        // isso faz com que carreguem mais de 2 arquivos por vez
        myDropzone1.on('success', myDropzone1.processQueue.bind(myDropzone1));
        myDropzone2.on('success', myDropzone2.processQueue.bind(myDropzone2));

        $("#cleanErrors").click(function(){
          $("#aviso_modal #erro1").html("");
          $("#aviso_modal #erro2").html("");
        });

    </script>

  </body>
</html>
