<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cluster Visualization</title>
     <link rel="icon" href="../static/images/icon.png">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/scrolling-nav.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/dropzone/dropzone.css')}}">

  </head>

  <style>
      /*mudanca do css do layout de cada arquivo dentro do dropzone*/
      .dropzone .dz-preview .dz-image {
           border-radius: 20px;
           overflow: hidden;
           width: 25em;
           /*height: 7em;*/
           padding: 0.2em;
           position: relative;
           display: block;
           z-index: 10;
      }

      .dropzone .dz-preview.dz-file-preview .dz-image {
            border-radius: 10px;
            background: #000;
            background: linear-gradient(to bottom, #eee, #eee);
      }

      .dropzone .dz-preview .dz-details .dz-filename:hover span {
         border: 1px solid transparent;
         background-color: linear-gradient(to bottom, #eee, #eee);
       }

      .dropzone .dz-preview {
         position: relative;
         display: inline-block;
         vertical-align: top;
         margin: 0.2em;
         min-height: 100px;
      }

  </style>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Cluster Visualization</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#usage">Usage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <section class="bg-primary text-white" id="uploaddataset">
      <div class="container text-center">
        <div class="row" align="center">
          <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
            <h1><b>Data Set Upload</b></h1>
            <!-- upload vai aqui -->
            <form action="#" class="dropzone dz-clickable" id="dropdataset" method="POST" enctype="multipart/form-data">
              <input type="hidden" name="name" value="dataset" />
              <div class="dz-message" data-dz-message style="color:grey;"><span><b>Drop files</b> or <b>click here</b> to upload</span><p style="font-size:80%;">The files must have a text format</p></div>
            </form>
                <button type="submit" class="btn btn-secondary" style="margin-top: 1em;" id="partitionchoicebutton" data-toggle="modal" data-target="#partitionchoice">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary text-white hidden" id="uploadpartition">
      <div class="container text-center">
        <div class="row" align="center">
        <div class="col-lg-6 col-md-6 col-sm-12 mx-auto" id="right">
          <h1><b>Partitions</b></h1>
          <form action="#" class="dropzone dz-clickable"  id="droppartition" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="name" value="partition" />
            <div class="dz-message" data-dz-message style="color:grey;"><span><b>Drop files</b> or <b>click here</b> to upload</span><p style="font-size:80%;">The files must have a text format</p></div>
          </form>
              <button type="submit" class="btn btn-secondary" style="margin-top:1em;" id="continuepartition">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section id="clusteringDataSet" class="container hidden">
        <h2>Clustering</h2>

        <!-- choose basic -->
        <div class="row" style="margin-top:2em;">
          <div class="col-12">
               <div class="card">
               <div class="card-header">
                 <input type="checkbox" id="datawithbasic" data-toggle="collapse" data-target="#filter-data-basic">
                 <span>Basic Algorithms</span>
               </div>
               <div class="card-block collapse filter-panel container" style="margin: 0.5em" id="filter-data-basic">
                 <label for="chooseAll"><input type="checkbox" style="font-weight:bold;" id="chooseAll" value="1" onclick="checkAll(this)"> Select All</label>
                 <div id="checkboxDataSet">
                   <label for="singleLink"><input type="checkbox" id="2"> Single Link</label>
                   <label for="averageLink"><input type="checkbox" id="3"> Average Link</label>
                   <label for="centroidLink"><input type="checkbox" id="4"> Centroid Link</label>
                   <label for="completeLink"><input type="checkbox" id="5"> Complete Link</label>
                   <label for="SNN"><input type="checkbox" id="6"> SNN</label>
                   <label for="kMeans"><input type="checkbox" id="7"> KMeans</label>
                </div>
                <div class="col-6">
                  <label for="selMetricDataSet">Crossover:</label><br>
                  <select class="form-control" id="selMetricBasicDataSet">
                    <option value="E">Euclidean Distance</option>
                    <option value="P">Pearson Correlation</option>
                  </select>
                </div>
               </div>
             </div>
           </div>
        </div>

        <!-- choose mocle -->
        <div class="row" style="margin-top:2em;">
          <div class="col-12">
               <div class="card">
                 <div class="card-header">
                   <input type="checkbox" id="datawithMocle" data-toggle="collapse" data-target="#filter-part-mocle">
                   <span>Mocle</span>
                 </div>
                 <div class="card-block collapse filter-panel container" style="margin: 0.5em" id="filter-part-mocle">
                   <div class="col-6">
                     <label for="selMetricDataSet">Crossover:</label><br>
                     <select class="form-control" id="selMetricMocleDataSet">
                       <option value="M">MCLA</option>
                       <option value="H">HBGF</option>
                     </select>
                   </div>
                   <div class="row" style="margin-top: 1em;">
                     <label for="numGenDataSet" class="col-2 col-form-label">Number of Generations:</label>
                     <div class="col-2">
                       <input class="form-control" type="number" min="0" value="1" id="numGenDataSet">
                     </div>
                     <div class="col-1"></div>
                     <label for="nearNeighDataSet" class="col-2 col-form-label">Nearest Neighbours:</label>
                     <div class="col-2">
                       <input class="form-control" type="number" min="0" value="1" id="nearNeighDataSet">
                     </div>
                   </div>
                 </div>
               </div>
              </div>
          </div>
        <p style="margin-top: 1em;">Clusters size interval:</p>
        <div class="row" style="margin-top: 1em;">
          <!-- <div class="col-3"></div> -->
          <label for="minSize" class="col-1 col-form-label">Minimum:</label>
          <div class="col-2">
            <input class="form-control" type="number" min="0" value="" id="minKDataSet">
          </div>
          <label for="maxSize" class="col-1 col-form-label">Maximum:</label>
          <div class="col-2">
            <input class="form-control" type="number" min="0" value="" id="maxKDataSet">
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row" style="margin-top:2em;">
          <div class="col-12" align="center">
            <button type="button" class="btn btn-primary" id="algdataset">View Results</button>
          </div>
        </div>
    </section>

    <section id="clusteringPartition" class="container hidden">
        <h2>Clustering</h2>

          <div class="row" style="margin-top:2em;">
          <div class="col-12">
               <div class="card">
                 <div class="card-header">
                   <input type="checkbox" id="partitionwithMocle" data-toggle="collapse" data-target="#filter-panel-mocle">
                   <span>Mocle</span>
                 </div>
                 <div class="card-block collapse filter-panel container" style="margin: 0.5em" id="filter-panel-mocle">
                   <div class="col-6">
                     <label for="selMetricPartition">Crossover:</label><br>
                     <select class="form-control" id="selMetricMoclePartition">
                       <option value="M">MCLA</option>
                       <option value="B">HBGF</option>
                     </select>
                   </div>

                   <div class="row" style="margin-top: 1em;">
                     <label for="numGenPartition" class="col-2 col-form-label">Number of Generations:</label>
                     <div class="col-2">
                       <input class="form-control" type="number" min="1" id="numGenPartition">
                     </div>
                     <label for="nearNeighPartition" class="col-2 col-form-label">Nearest Neighbours:</label>
                     <div class="col-2">
                       <input class="form-control" type="number" min="1" id="nearNeighPartition">
                     </div>
                     <div class="col-1"></div>
                   </div>
                 </div>
              </div>
          </div>
        </div>

        <p style="margin-top: 1em;">K of the Consensus Partition:</p>
        <div class="row" style="margin-top: 1em;">
          <!-- <div class="col-3"></div> -->
          <label for="minKPartition" class="col-1 col-form-label">Minimum:</label>
          <div class="col-2">
            <input class="form-control" type="number" min="0" value="" id="minKPartition">
          </div>
          <label for="maxKPartition" class="col-1 col-form-label">Maximum:</label>
          <div class="col-2">
            <input class="form-control" type="number" min="0" value="" id="maxKPartition">
          </div>
          <div class="col-1"></div>
        </div>

        <div class="row" style="margin-top:2em;">
          <div class="col-12" align="center">
            <button type="button" class="btn btn-primary" id="finishpartition">View Results</button>
          </div>
        </div>
     </section>

     <section id="resultFilterDetails" class="bg-light hidden">
       <div class="container">
         <div class="row row-divided">
           <div class="col-lg-6 col-md-6 col-sm-12 mx-auto" id="resultFilter" align="center">
             <h3 style="margin-bottom:1em;">Visualize</h3>
             <div class="row" align="center">
               <div class="col-2"></div>
               <div class="col-4"><label for="allClu"><input type="radio" name="chooseClu" id="allClu" checked> All Clusters</label></div>
               <div class="col-4"><label for="distinctClu"><input type="radio" name="chooseClu" id="distClu"> Distinct Cluster</label></div>
             </div>
             <p style="margin-top:1em;">Clusters size interval:</p>
             <div class="row">
               <div class="col-1"></div>
               <label for="minKResult" class="col-2 col-form-label">Minimum:</label>
               <div class="col-3">
                 <input class="form-control" type="number" min="1" id="minKResult">
               </div>
               <label for="maxKResult" class="col-2 col-form-label">Maximum:</label>
               <div class="col-3">
                 <input class="form-control" type="number" min="1" id="maxKResult">
               </div>
             </div>
             <button type="button" class="btn btn-primary" id="applyFilter" onclick="cViz.onDataChange()" style="margin-top:1em;">Apply</button>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 mx-auto" id="resultDetails">
             <h3 style="margin-bottom:1em;">Details</h3>
             <p>Partitions: <span id="partitionName"></span></p>
             <p>Number of Partitions: <span class="nPartitions"></span></p>
             <p>Number of Clusters Selected: <span class="nClusters"></span></p>
           </div>
          </div>
        </div>
     </section>

     <div id="cViz" class="hidden container">
       <div id="clustersTable" style="max-height: 400px; overflow: auto;"></div>
     </div>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About</h2>
            <p class="lead">The tool</p>
            <p style="text-align: justify;">Ensemble methods for clustering take a collection
                of input partitions, produced for the same data set, and generate
                an ensemble partition that tries to preserve the information
                carried in this collective. Acceptance of the resulting partition(s)
                by decision makers can be a problem, due to the inherent
                complexity of ensemble techniques, and the associated lack of
                intuition on how a consensus has been derived from the original
                set of input partitions. This problem is exacerbated in multi-
                objective ensemble techniques, which generate a set of non-
                dominated consensus partitions. In this context, the selection of
                a final candidate clustering may require additional insight into
                the relationships between non-dominated output partitions.
                CVis has been developed as a general
                tool to provide insight into the relationship between any set
                of partitions of a given data set. In particular,
                the tool facilitates the visual analysis of the level of support
                identified for individual consensus clusters, which is helpful in
                explaining final solutions to a decision maker.</p>
            <p class="lead">Citing CVis</p>
            <p>If you publish material using CVis, please cite the following
            reference:</p>
            <p>Faceli, K., Sakata, T., and Handl, J. (2016). CVis - towards a
            novel visualization tool to explore the relationship between input
            and output partitions in multi-objective clustering ensembles.
            <p class="lead">Citing MOCLE</p>
            <p>If you publish material using MOCLE, please cite the following reference:</p>
            <p>Katti Faceli, Marcílio C. P. de Souto, D. S. A. de Araujo, André C. P. L. F. de Carvalho.
              Multi-objective clustering ensemble for gene expression data analysis. Neurocomputing 72 (13-15): 2763-2774 (2009).
              <a href="http://www.sciencedirect.com/science/article/pii/S0925231209001167">DOI: 10.1016</a></p>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="usage" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Usage</h2>
          </div>
        </div>
        <div class="row row-divided" style="margin-top:1em;">
          <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
            <h4 style="text-decoration:underline; margin-bottom:2em;" align="center" id="left">Basic Algorithms</h2>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
            <h4 style="text-decoration:underline; margin-bottom:2em;" align="center">Mocle</h2>
            <h5 id="crossoverUsage"> Crossover </h5>
		          <ul>
		          	<li><div class="mdl-card__subtitle-text mdl-color-text--black"> MCLA - Meta-CLustering Algorithm as described in (1) </div></li>
		          	<li><div class="mdl-card__subtitle-text mdl-color-text--black"> HBGF - Hybrid Bipartite Graph Formulation as described in (3) </div></li>
		          </ul>
			       <h5 id="kConsensusUsage"> k of the consensus partition</h5>
		          	<ul>
		           		<li>Interval of k for choosing the number of clusters for the consensus partition when applying the crossover. The maximum number of clusters in each consensus partition is randomly  choosen  within this interval.</li>
		            </ul>
           	 <h5 id="datasetUsage"> Data set </h5>
		            <ul>
		            	<li>Data set in a text file format, where the first row contains columns labels and first column indicates the objects IDs.</li>
		            </ul>
            	<h5 id="initialPartitionsUsage"> Initial Partitions </h5>
              	<ul>
		              <li>Initial partitions represented as text files. Each file represents one partition and must contain two columns: the first column denotes the IDs of the objects (as in the data set) and the second column represents the labels of the clusters.</li>
		            </ul>
              <h5 id="nGenerationsUsage"> Number of Generations </h5>
		            <ul>
		            	<li>Maximum number of generations for running the genetic algorithm.</li>
		            </ul>
              <h5 id="nNearestNeighborsUsage"> Nearest Neighbors (%) </h5>
		             <ul>
		               <li>Percentage of the data set size used to define the number of nearest neighbor objects for calculating the connectivity.</li>
		             </ul>
	          </div>
          </div>
        </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact</h2>
            <p class="lead"><a href="http://lattes.cnpq.br/4451540730749377">Katti Faceli</a> (katti <i>at </i>ufscar <i>dot</i> br)</p>
            <p class="lead"><a href="http://lattes.cnpq.br/3560505262283874">Tiemi C. Sakata</a> (tiemi <i>at</i> ufscar <i>dot</i> br)</p>
            <p class="lead"><a href="http://personalpages.manchester.ac.uk/mbs/julia.handl/">Julia Handl</a> (Julia <i>dot</i> Handl <i>at</i> manchester <i>dot</i> ac <i>dot</i> uk)</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">The opinions, hypothesis,
        conclusions or recommendations contained in this material are the responsibility of the author(s) and do not necessarily reflect FAPESP's vision. (As opiniões, hipóteses e conclusões ou recomendações expressas neste material são de responsabilidade do autor(es) e não
        necessariamente refletem a visão da FAPESP)</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Modal warning -->
    <div id="aviso_modal" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Required</h4>
          </div>
          <div class="modal-body" style="background-color:tomato;">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="cleanbody" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal choose partition -->
    <div id="partitionchoice" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Partitions</h2>
          </div>
          <div class="modal-body">
            <p style="font-size:20px;">Do you want to include initial partitions to the visualization?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="refusepartition" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-success" id="includepartition" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>

      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='vendor/popper/popper.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

      <!-- Plugin JavaScript -->
      <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

      <!-- Custom JavaScript for this theme -->
      <script type="text/javascript" src="{{url_for('static', filename='js/scrolling-nav.js')}}"></script>

      <script src="{{url_for('static', filename='vendor/dropzone/dropzone.js')}}"></script>
      <!-- <script src="{{url_for('static', filename='vendor/dropzone/dropzone.min.js')}}"></script> -->


      <!-- <link rel="stylesheet" type="text/css" href="http://akottr.github.io/css/reset.css" /> -->

      <!-- esse css deixa a página feia -->
      <!-- <link rel="stylesheet" type="text/css" href="http://akottr.github.io/css/akottr.css" /> -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/dragtable.css')}}">

      <!-- <script src="{{url_for('static', filename='js/d3.v4.js')}}"></script> -->
      <script src="{{url_for('static', filename='js/queue.js')}}"></script>
      <script src="{{url_for('static', filename='js/d3-queue.v3.js')}}"></script>
      <script src="{{url_for('static', filename='js/colorbrewer.v1.js')}}"></script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.min.js"></script> -->
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
      <script src="{{url_for('static', filename='js/jquery.dragtable.js')}}"></script>
      <!-- cViz table -->
      <script type="text/javascript" src="{{url_for('static', filename='js/cViz_core.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='js/cViz_main.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='js/cViz_clustersTable.js')}}"></script>

    <script type="text/javascript">
    var partitionSelected = false;

      $(document).ready(function(){
        $("input").val("");
        $(".hidden").hide();
        $("#partitionchoicebutton").prop("disabled",true);
        $("#continuepartition").prop("disabled",true);
      });

      Dropzone.autoDiscover = false;

      //dataset dropzone
        var myDropzone1 = new Dropzone(document.getElementById("dropdataset"), {
          acceptedFiles: '.txt',
          addRemoveLinks: true,

          thumbnailWidth: 500,
          maxFiles: 1,
          autoProcessQueue: false,

          init: function() {
            this.on("sending", function(file, xhr, formData){
                if($('#minKPartition').val() != ""){
                  formData.append("partition", "yes");
                }
                else{
                  formData.append("partition", "no");
                  if($('#datawithbasic:checked').length == 1){
                    //dados que são utilizados para rodar o clustering
                    formData.append("basicSelected", "yes");
                    formData.append("tipoDistBasic", $("#selMetricBasicDataSet").val());
                    if($('#chooseAll:checked').length == 1 && $('#checkboxDataSet input:checked').length == 6){
                      formData.append("alg", "1");
                    }
                    else{
                      var alg = $('#checkboxDataSet input:checked').map(function() {
                        return this.id;
                      }).get();
                      formData.append("alg", alg);
                    }
                  }
                  //dados que são utilizados para rodar o mocle
                  if($('#datawithMocle:checked').length == 1){
                    formData.append("mocleSelected", "yes");
                    formData.append("tipoDistMocle", $("#selMetricMocleDataSet").val());
                    formData.append("numGen", $("#numGenDataSet").val());
                    formData.append("nearNeigh", $("#nearNeighDataSet").val());
                  }

                  formData.append("name", "dataset");
                  formData.append("minK", $("#minKDataSet").val());
                  formData.append("maxK", $("#maxKDataSet").val());
                }
            }),
            this.on("addedfile", function(event) {
              $("#partitionchoicebutton").prop("disabled",false);
            }),
            this.on("removedfile", function(event) {
              $("#partitionchoicebutton").prop("disabled",true);
            }),
            this.on("success", function(file, response){
              cViz.directory = response;

              $('#minKResult').val($('#minKDataSet').val());
              $('#maxKResult').val($('#maxKDataSet').val());
              $('#resultFilterDetails').show();
              $('#resultFilterDetails')[0].scrollIntoView({
                  behavior: "smooth", // or "auto" or "instant"
                  block: "start" // or "end"
                });
              $('#cViz').show();
              // cViz.onDataChange();
            });
          }
        });

        $('#partitionchoice #refusepartition').click(function(){
          $('#numGenDataSet').val(100);
          $('#nearNeighDataSet').val(5);
          $('#clusteringDataSet').show();
            $("#clusteringDataSet")[0].scrollIntoView({
                behavior: "smooth", // or "auto" or "instant"
                block: "start" // or "end"
              });
            $("#partitionchoicebutton").prop("disabled",true);
          });

        function checkAll(bx){
          var cbs = $('#checkboxDataSet input');
          for(var i=0; i < cbs.length; i++) {
            if(cbs[i].type == 'checkbox') {
              cbs[i].checked = bx.checked;
            }
          }
        }

        $('#algdataset').click(function(){
          var error = false;
          if($('#datawithbasic:checked').length == 1){
            if($('#checkboxDataSet input:checked').length == 0){
              $('#aviso_modal .modal-body').append('<p>You selected Basic Algorithms, you should choose at least one.</p>');
              error = true;
            }

          }
          if($("#maxKDataSet").val() == "" || $("#minKDataSet").val() == ""){
            $("#aviso_modal .modal-body").append("<p>Minimum and maximum cluster sizes are required values.</p>");
            error = true;
          }
          if($("#maxKDataSet").val() != "" && parseInt($("#maxKDataSet").val()) < parseInt($("#minKDataSet").val())){
            $("#aviso_modal .modal-body").append("<p>Maximum size must be higher than minimum size!</p>");
            error = true;
          }
          if(error){
            $('#aviso_modal').modal("show");
          }
          else{
            myDropzone1.processQueue();
          }
        });

        //partition dropzone
        var myDropzone2 = new Dropzone(document.getElementById("droppartition"), {
          acceptedFiles: '.clu',
          addRemoveLinks: true,
          thumbnailWidth: 500,
          autoProcessQueue: false,

          init: function() {
            this.on("sending", function(file, xhr, formData){
                formData.append('qtofdata', myDropzone2.getAcceptedFiles().length);
                formData.append('datasetfile', myDropzone1.getAcceptedFiles()[0]);
                formData.append("name", "partition");
                if($("#partitionwithMocle:checked").length == 1){
                  formData.append("mocleSelected", "yes");
                  formData.append("tipoDistMocle", $("#selMetricMoclePartition").val());
                  formData.append("numGen", $("#numGenPartition").val());
                  formData.append("nearNeigh", $("#nearNeighPartition").val());
                }
                formData.append("minK", $("#minKPartition").val());
                formData.append("maxK", $("#maxKPartition").val());
                myDropzone1.processQueue();
            }),
            this.on("addedfile", function(event) {
              $("#continuepartition").prop("disabled",false);
            }),
            this.on("removedfile", function(event) {
              $("#continuepartition").prop("disabled",true);
            }),
            this.on("success", function(file, response){
              cViz.directory = response;
              console.log(cViz.directory);
              $('#minKResult').val($('#minKPartition').val());
              $('#maxKResult').val($('#maxKPartition').val());
              $('#resultFilterDetails').show();
              $('#resultFilterDetails')[0].scrollIntoView({
                  behavior: "smooth", // or "auto" or "instant"
                  block: "start" // or "end"
                });
              $('#cViz').show();
              // cViz.onDataChange();
            });
          }
        });

          $('#partitionchoice #includepartition').click(function(){
            $('#numGenPartition').val(100);
            $('#nearNeighPartition').val(5);
            $('#uploadpartition').show();
            $("#uploadpartition")[0].scrollIntoView({
                behavior: "smooth", // or "auto" or "instant"
                block: "start" // or "end"
              });
              $("#partitionchoicebutton").prop("disabled",true);
            });

            $('#continuepartition').click(function(){
              $('#clusteringPartition').show();
                $("#clusteringPartition")[0].scrollIntoView({
                    behavior: "smooth", // or "auto" or "instant"
                    block: "start" // or "end"
                  });
              });

              $('#finishpartition').click(function(){
                error = false;
                if($("#maxKPartition").val() == "" || $("#minKPartition").val() == ""){
                  $("#aviso_modal .modal-body").append("<p>Minimum and maximum size are required.</p>");
                  error = true;
                }
                if($("#maxKPartition").val() != "" && parseInt($("#maxKPartition").val()) < parseInt($("#minKPartition").val())){
                  $("#aviso_modal .modal-body").append("<p>Maximum size must be higher than minimum size!</p>");
                  error = true;
                }
                if(error){
                  $("#aviso_modal").modal("show");
                }
                else{
                  myDropzone2.processQueue();
                }
              });

        // // isso faz com que carreguem mais de 2 arquivos por vez
        myDropzone2.on('success', myDropzone2.processQueue.bind(myDropzone2));

        $("#cleanbody").click(function(){
          $("#aviso_modal .modal-body").empty();
        });

    </script>

  </body>
</html>
