<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cluster Visualization</title>
     <link rel="icon" href="../static/images/icon.png">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Visualization's Style -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/reset.css')}}" />
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/akottr.css')}}" />
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dragtable.css')}}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style1.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/scrolling-nav.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/dropzone/dropzone.css')}}">

   <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Cluster Visualization</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

  <section id="resultFilterDetails" class="bg-light hidden" style="height:350px; padding-bottom: 1em;">
    <div class="container">
      <div class="row row-divided">
        <div class="col-lg-6 col-md-6 col-sm-12 mx-auto" id="resultFilter" align="center">
          <h3 style="margin-bottom:1em; font-size:25px;">Filtering options</h3>
          <div class="row" align="center">
            <div class="col-2"></div>
            <div class="col-4"><label for="allClu"><input type="radio" name="allClusters" id="allClu" checked> All Clusters</label></div>
            <div class="col-4"><label for="distinctClu"><input type="radio" name="allClusters" id="distClu"> Distinct Cluster</label></div>
          </div>
          <p style="margin-top:1em; margin-bottom:1em; font-size:15px;">Clusters size interval:</p>
          <div class="row">
            <div class="col-1"></div>
            <label for="minCSize" class="col-2 col-form-label">Minimum:</label>
            <div class="col-3">
              <input class="form-control" type="number" min="1" value="1" id="minCSize">
            </div>
            <label for="maxCSize" class="col-2 col-form-label">Maximum:</label>
            <div class="col-3">
              <input class="form-control" type="number" min="1" value="72" id="maxCSize">
            </div>
          </div>
          <button type="button" class="btn btn-primary" id="applyFilter" onclick="cViz.onDataChange()" style="margin-top:1em;">Apply</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mx-auto" id="resultDetails" align="center">
          <h3 style="margin-bottom:1em; font-size:25px;">Details</h3>
          <p>Partitions: <span id="partitionName"></span></p>
          <p>Number of Partitions: <span class="nPartitions"></span></p>
          <p>Number of Clusters Selected: <span class="nClusters"></span></p>
        </div>
       </div>
     </div>

     <div class="dropdown" align="right" style="margin-right:1em;">
       <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-download" aria-hidden="true"></i></button>
       <div class="dropdown-menu dropdown-menu-right">
         <button class="dropdown-item" id = "pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</button>
         <a class="dropdown-item" href="#"  id = "png"><i class="fa fa-file-image-o" aria-hidden="true"></i> PNG</a>
         <a class="dropdown-item" href="#"  id = "jpeg"><i class="fa fa-picture-o" aria-hidden="true"></i> JPEG</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" id="downtables" href="#"><i class="fa fa-table" aria-hidden="true"></i> Download TSV tables</a>
       </div>
     </div>

  </section>

  <!-- Table for visualizing all the clustes -->
  <div id="cViz" class="w3-container w3-card-4 w3-theme-l5 w3-padding-16" style="margin-top:1em;">
      <div id="clustersTable" style="margin-bottom:1em;"></div>
  </div>

  <script src="{{url_for('static', filename='js/d3.v4.js')}}"></script>

  <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>

  <!-- Colorbrewer Library for colour scales -->
  <script src="{{url_for('static', filename='js/colorbrewer.v1.js')}}"></script>
  <script src="{{url_for('static', filename='js/topojson.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/queue.min.js')}}"></script>

  <script src="{{url_for('static', filename='vendor/dropzone/dropzone.js')}}"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{url_for('static', filename='vendor/popper/popper.min.js')}}"></script>

  <!-- Plugin JavaScript -->
  <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Export table -->
  <script type="text/javascript" src="{{url_for('static', filename='vendor/table-export/tableExport.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='vendor/table-export/jquery.base64.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='vendor/table-export/html2canvas.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='vendor/table-export/jspdf.min.js')}}"></script>
  <script type="text/javascript" language="javascript" src="{{url_for('static', filename='vendor/table-export/canvas2image.js')}}"></script>
  <script src="https://rawgit.com/eligrey/FileSaver.js/master/FileSaver.js"></script>
  <script src ="https://rawgit.com/eligrey/canvas-toBlob.js/master/canvas-toBlob.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script type="text/javascript" src="{{url_for('static', filename='js/scrolling-nav.js')}}"></script>

  <!-- cViz core -->
  <script src="{{url_for('static', filename='js/cViz_core.js')}}"></script>

  <!-- Table with the visualization of the clusters -->
  <script src="{{url_for('static', filename='js/cViz_clustersTable.js')}}">
  </script>

  <script>
  cViz.directory = sessionStorage.getItem("sent");
  var nome = sessionStorage.getItem("sent").split('/');
  var pasta = sessionStorage.getItem("sent");
  cViz.onDataChange();
  </script>

  <!-- Main loading of data -->
  <script src="{{url_for('static', filename='js/cViz_main.js')}}"></script>

  <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
  <script language="javascript">

    $(document).ready(function(){
      $('#partitionName').html(nome[nome.length-1]);
      $('#pdf').click(function(){
          var pdf = new jsPDF("p", "mm", "a4");;
          var options = {
                      background:'#F3F4FB',
                      //pagesplit: true,
                      //margin: {top: 10, right: 10, bottom: 10, left: 10, useFor: 'content'}
          };
          const doc = jsPDF()
          pdf.addHTML($('#table-clu'), options, function () {

              pdf.save(nome[nome.length-1]+'.pdf');
          });

    //melhor qualidade (bem pouco)
    // html2canvas($('#table-clu'), {
    //                 onrendered: function (canvas) {
    //                 var imageData = canvas.toDataURL("image/jpeg");
    //                 var image = new Image();
    //                 image = Canvas2Image.convertToJPEG(canvas);
    //                 var doc = new jsPDF();
    //                 doc.addImage(imageData, 'JPEG', 12, 10);
    //                 var croppingYPosition = 1095;
    //                 count = (image.height) / 1095;
    //
    //                 for (var i =1; i < count; i++) {
    //                         doc.addPage();
    //                         var sourceX = 0;
    //                         var sourceY = croppingYPosition;
    //                         var sourceWidth = image.width;
    //                         var sourceHeight = 1095;
    //                         var destWidth = sourceWidth;
    //                         var destHeight = sourceHeight;
    //                         var destX = 0;
    //                         var destY = 0;
    //                         var canvas1 = document.createElement('canvas');
    //                         canvas1.setAttribute('height', destHeight);
    //                         canvas1.setAttribute('width', destWidth);
    //                         var ctx = canvas1.getContext("2d");
    //                         ctx.drawImage(image, sourceX,
    //                                              sourceY,
    //                                              sourceWidth,
    //                                              sourceHeight,
    //                                              destX,
    //                                              destY,
    //                                              destWidth,
    //                                              destHeight);
    //                         var image2 = new Image();
    //                         image2 = Canvas2Image.convertToJPEG(canvas1);
    //                         image2Data = image2.src;
    //                         doc.addImage(image2Data, 'JPEG', 12, 10);
    //                         croppingYPosition += destHeight;
    //                     }
    //                 filename = nome[nome.length-1]+'.pdf';
    //                 doc.save(filename);
    //             }
    //
    //              });
             });

     $('#jpeg').click(function(){
         //transforma em canvas
         html2canvas($('#table-clu'),
         {
             background:'#F3F4FB',
             onrendered: function (canvas) {
                 var a = document.createElement('a');
                 // o default é png, transforma pra jpg
                 a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
                //faz o download com o nome certo
                 canvas.toBlob(function(blob) {
                    saveAs(blob, nome[nome.length-1]+".jpg");
                 }, "image/jpeg", 1);
            }
        });
    });

    $('#png').click(function(){
        //transforma em canvas
        html2canvas($('#table-clu'),
        {
            background:'#F3F4FB',
            onrendered: function (canvas) {
                var a = document.createElement('a');
                // faz o donwload
                canvas.toBlob(function(blob) {
                    saveAs(blob, nome[nome.length-1]+".png");
                }, "image/png");
            }
        });
    });

    $('#downtables').attr({target: '_blank',
                    href  : pasta+'/result.tsv'});
    });

  </script>
</body>
