<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">

        <!-- Visualization's Style -->
        <link rel="stylesheet" href="../static/css/style1.css" media="screen" />

    </head>
    <body>
    <!-- Layout - ver W3.CSS - https://www.w3schools.com/w3css/w3css_layout.asp -->
    <div class="w3-cell-row">

        <div class="w3-container w3-cell w3-card-4 w3-theme-l5 w3-padding-16">
            <header class="w3-container w3-card-4 w3-theme w3-padding-16">
                <h1>Filtering options</h1>
            </header>

            <form class="w3-padding-16">
                <input type="radio" name="allClusters" value="allClu" checked> All clusters<br>
                <input type="radio" name="allClusters" value="distinctClu"> Distinct clusters<br><br>

                <fieldset>
                    <legend>Clusters size interval:</legend>
                    Minimum:
                    <input type="number" id="minCSize" value="1"><br>
                    Maximum:
                    <input type="number" id="maxCSize"><br><br>
                </fieldset>
                <input type="button" onclick="cViz.onDataChange()" value="Apply"/><br>
            </form>


        </div>

        <!-- Details about what is being visualized -->
        <div class="w3-container w3-cell w3-card-4 w3-theme-l5 w3-padding-16">
            <header class="w3-container w3-card-4 w3-theme w3-padding-16">
                <h1>Details</h1>
            </header>

            <section class="w3-padding-16">
                Partitions: BP-KM-k2-8 + MOCLE-L4-MCLA-run1 + TP

                <p>Number of Partitions:
                <div class = "nPartitions"> </div></p>
                <br>
                <p>Number of Clusters selected:
                <div class = "nClusters"> </div></p>
            </section>
        </div>
    </div>

    <!-- Table for visualizing all the clustes -->
    <div id="cViz" class="w3-container w3-card-4 w3-theme-l5 w3-padding-16">
        <div id="clustersTable"></div>
    </div>

        <!-- D3 Version 4 -->
    <script src="https://d3js.org/d3.v4.js"></script>

     <link rel="stylesheet" type="text/css" href="http://akottr.github.io/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="http://akottr.github.io/css/akottr.css" />
    <link rel="stylesheet" type="text/css" href="others/dragtable-master/dragtable.css" />

    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    <!-- Colorbrewer Library for colour scales -->
    <script src="../static/css/colorbrewer.v1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>


    <!-- cViz core -->
    <script src="../static/js/cViz_core.js"></script>

    <!-- Table with the visualization of the clusters -->
    <script src="../static/js/cViz_clustersTable.js">
    </script>

    <script>cViz.directory = "BP-KM-k2-8---MOCLE-L4-MCLA-run1---TP-files";
        <!--console.log(cViz.directory);-->
    </script>

    <!-- Main loading of data -->
    <script src="../static/js/cViz_main.js"></script>
    </body>
</html>
